/* New Stylesheet to make website better and allow improved viewing on mobile devices */
body {
margin: auto;
background-color: white;
color: black;
font-family: 'Open Sans', sans-serif;
text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
.active {
  background-color: #FF0000;
}
.news {
  float: right;
  width: 33%;
  color: grey;
}
